<div class="container mt-3">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Time</th>
                <th scope="col">Name</th>
                <th scope="col">Category</th>
                <th scope="col">Description</th>
                <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row">Time is here</td>
                <td>{{this.Name}}</td>
                <td>{{this.Category}}</td>
                <td>{{this.Description}}</td>
                <td>{{this.Price}}</td>
            </tr>
        </tbody>
    </table>
</div>